<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Detail</title>
</head>
<body>
    <h1>{{ workout.name }}</h1>
    <ul>
    {% for exercise in workout.exercise_set.all %}
    <li>
        <strong>{{ exercise.exercise }}</strong>
        <ul>
            {% for set in exercise.set_set.all %}
            <li>Reps: {{ set.reps }} {% if set.weight %} | Weight: {{ set.weight }}kg {% endif %}</li>
            {% empty %}
            <li>No sets present</li>
            {% endfor %}
        </ul>
    </li>
    {% empty %}
    <li>You did not add an excercise</li>
    {% endfor %}
    </ul>

    <div>
        <button><a href="{% url 'polls:add_workout'  %}">Add a workout</a></button>
    </div>

    <div>
        <button><a href="{% url 'polls:workout_list'  %}">Home</a></button>
    </div>
</body>
</html>